# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cấu hình môi trường ảo Python
.env/
venv/
env/
ENV/
.venv/

# Thư mục build
build/
dist/
*.egg-info/

# File tạm thời
*.log
*.tmp
*.bak
*.swp

# Hệ điều hành
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.iml
